In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

import dataset

In [ ]:
test=pd.read_csv("/content/drive/MyDrive/datasets/titanic/test.csv")
df=pd.read_csv("/content/drive/MyDrive/datasets/titanic/train.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

check for na values
Removed all Nas in this cell

In [ ]:
df=df.drop(['Age','Cabin','Name','Ticket','PassengerId'],axis=1)
passengerId=test.PassengerId
test=test.drop(['Age','Cabin','Name','Ticket','PassengerId'],axis=1)
test=test.fillna(test['Fare'].mean())
df=df.dropna()
test=test.fillna(df['Fare'].mean())

In [ ]:
print(df.isna().sum())
print(test.isna().sum())

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

taking care of catogrical data

In [ ]:
encoderSex=LabelEncoder()
newSex=encoderSex.fit_transform(df['Sex'])
testSex=encoderSex.transform(test['Sex'])
df.drop('Sex',axis=1)
test.drop('Sex',axis=1)
df['Sex']=newSex
test['Sex']=testSex

encodeEmbar=LabelEncoder()
newEmbark=encodeEmbar.fit_transform(df['Embarked'])
testEmbark=encodeEmbar.transform(test['Embarked'])
df.drop('Embarked',axis=1)
test.drop('Embarked',axis=1)
df['Embarked']=newEmbark
test['Embarked']=testEmbark

In [ ]:
print(df.head())
print(test.head())

   Survived  Pclass  Sex  SibSp  Parch     Fare  Embarked
0         0       3    1      1      0   7.2500         2
1         1       1    0      1      0  71.2833         0
2         1       3    0      0      0   7.9250         2
3         1       1    0      1      0  53.1000         2
4         0       3    1      0      0   8.0500         2
   Pclass  Sex  SibSp  Parch     Fare  Embarked
0       3    1      0      0   7.8292         1
1       3    0      1      0   7.0000         2
2       2    1      0      0   9.6875         1
3       3    1      0      0   8.6625         2
4       3    0      1      1  12.2875         2

Scaling

In [ ]:
scaler= StandardScaler()
scaler.fit_transform(df[['Fare']])
scaler.transform(test[['Fare']])

array([[-4.88578682e-01],
       [-5.05273016e-01],
       [-4.51165414e-01],
       [-4.71801802e-01],
       [-3.98819454e-01],
       [-4.60476955e-01],
       [-4.92605294e-01],
       [-6.23456662e-02],
       [-5.00658519e-01],
       [-1.59991014e-01],
       [-4.87237820e-01],
       [-1.22744850e-01],
       [ 1.01007607e+00],
       [-1.22744850e-01],
       [ 5.85435584e-01],
       [-8.80998783e-02],
       [-3.97561138e-01],
       [-5.00743078e-01],
       [-4.86649935e-01],
       [-5.00743078e-01],
       [ 5.49699400e-01],
       [-5.82366535e-01],
       [-8.32262258e-03],
       [ 5.89546755e-01],
       [ 4.63620753e+00],
       [-3.54275056e-01],
       [ 6.01626592e-01],
       [-5.00743078e-01],
       [-3.21460741e-02],
       [-2.09735782e-01],
       [-1.22744850e-01],
       [-1.20130127e-02],
       [-2.31966708e-01],
       [-1.74084157e-01],
       [ 5.16479848e-01],
       [-5.00658519e-01],
       [-4.84133302e-01],
       [-4.71801802e-01],
       [-4.54940363e-01],
       [ 4.91228963e-01],
       [-3.76085202e-01],
       [-1.11671667e-01],
       [-4.88159914e-01],
       [-3.84474648e-01],
       [ 4.11872488e-01],
       [-4.86649935e-01],
       [-4.82525232e-02],
       [-4.90173220e-01],
       [ 8.89781033e-01],
       [-3.26088770e-01],
       [ 5.61779236e-01],
       [-3.43538094e-01],
       [-1.83144034e-01],
       [ 4.64879070e+00],
       [-3.32547456e-01],
       [-5.98290335e-02],
       [-4.87237820e-01],
       [-4.92186527e-01],
       [-3.22062158e-01],
       [ 4.63620753e+00],
       [-4.87237820e-01],
       [-3.74408117e-01],
       [-4.90173220e-01],
       [-4.90676547e-01],
       [ 4.63620753e+00],
       [-2.23410157e-01],
       [-4.87572029e-01],
       [ 2.07437356e-01],
       [-7.16572071e-02],
       [ 4.64879070e+00],
       [-4.90173220e-01],
       [-4.87237820e-01],
       [-4.86649935e-01],
       [-8.80998783e-02],
       [ 3.61193803e+00],
       [ 3.61193803e+00],
       [-4.84133302e-01],
       [-1.28784769e-01],
       [-3.84474648e-01],
       [-4.90173220e-01],
       [-3.39259819e-01],
       [ 3.81888980e+00],
       [-1.22744850e-01],
       [-4.87237820e-01],
       [-4.30613585e-01],
       [-3.55197150e-01],
       [-4.87572029e-01],
       [-4.84133302e-01],
       [-4.90173220e-01],
       [-1.83144034e-01],
       [-3.66354893e-01],
       [-4.89669894e-01],
       [ 4.00714745e-01],
       [-4.84133302e-01],
       [-1.22744850e-01],
       [-4.89251126e-01],
       [ 9.41287443e-01],
       [-4.86649935e-01],
       [-4.88075355e-01],
       [-4.84133302e-01],
       [ 4.70006703e-01],
       [-1.22744850e-01],
       [-4.90173220e-01],
       [-4.89669894e-01],
       [-4.74737202e-01],
       [-1.92707239e-01],
       [-4.88747800e-01],
       [-4.90173220e-01],
       [-4.70795149e-01],
       [-3.84474648e-01],
       [-3.43286431e-01],
       [-4.89585335e-01],
       [-8.40516813e-03],
       [-4.99569320e-01],
       [ 3.81888980e+00],
       [-3.55197150e-01],
       [-5.16597863e-01],
       [-3.09982321e-01],
       [ 8.68641318e-01],
       [-1.22744850e-01],
       [-3.29108729e-01],
       [-4.90173220e-01],
       [ 5.16479848e-01],
       [-5.00239751e-01],
       [-4.90173220e-01],
       [-3.22062158e-01],
       [-4.89251126e-01],
       [-1.78110769e-01],
       [-3.84474648e-01],
       [-4.84133302e-01],
       [-4.84133302e-01],
       [-7.24121969e-02],
       [-1.33481812e-01],
       [-5.16597863e-01],
       [-4.87237820e-01],
       [-4.88075355e-01],
       [-5.00743078e-01],
       [-3.84474648e-01],
       [-4.84133302e-01],
       [ 2.98036132e-01],
       [ 2.98036132e-01],
       [ 2.40496101e+00],
       [ 4.63620753e+00],
       [-1.22744850e-01],
       [-1.11671667e-01],
       [-2.83809341e-01],
       [ 3.97946450e-01],
       [-4.84133302e-01],
       [-1.11671667e-01],
       [-1.22744850e-01],
       [ 1.02802671e+00],
       [-4.87237820e-01],
       [ 7.10799264e-02],
       [-4.00917319e-01],
       [-1.42779821e-02],
       [-4.94199833e-01],
       [ 3.81888980e+00],
       [-4.88075355e-01],
       [-1.11671667e-01],
       [-3.68871526e-01],
       [-4.90509443e-01],
       [-3.39259819e-01],
       [-3.74408117e-01],
       [-5.05273016e-01],
       [-3.84474648e-01],
       [-2.02773769e-01],
       [ 3.70430595e-01],
       [ 4.58695387e-02],
       [-8.80998783e-02],
       [-4.65761883e-01],
       [-4.94199833e-01],
       [-5.00743078e-01],
       [-3.66354893e-01],
       [-5.00658519e-01],
       [-1.42779821e-02],
       [ 1.38984948e-01],
       [ 9.36855595e-02],
       [ 4.70006703e-01],
       [ 1.38984948e-01],
       [ 1.02802671e+00],
       [-3.84474648e-01],
       [ 1.02802671e+00],
       [ 4.22861113e-01],
       [-4.90173220e-01],
       [ 4.33714701e+00],
       [-3.24075464e-01],
       [-2.23410157e-01],
       [-4.84133302e-01],
       [ 7.54049973e-01],
       [-3.84474648e-01],
       [-1.22744850e-01],
       [-1.22744850e-01],
       [-3.54275056e-01],
       [-3.97561138e-01],
       [ 8.12004865e-03],
       [-4.88075355e-01],
       [ 2.06169231e+00],
       [-4.89669894e-01],
       [-4.34807302e-01],
       [-4.82874986e-01],
       [-3.34141995e-01],
       [-3.56288362e-01],
       [ 3.93457034e+00],
       [-1.22744850e-01],
       [-4.34807302e-01],
       [-1.27945220e-01],
       [-4.90173220e-01],
       [-4.34807302e-01],
       [-8.80998783e-02],
       [-4.87237820e-01],
       [-1.92707239e-01],
       [-5.04266363e-01],
       [ 8.33575565e-01],
       [-1.22744850e-01],
       [-4.89669894e-01],
       [ 2.09450662e-01],
       [-4.87572029e-01],
       [ 2.67306694e+00],
       [ 3.61193803e+00],
       [-4.84133302e-01],
       [-3.67194442e-01],
       [-4.84133302e-01],
       [-4.34807302e-01],
       [-4.89251126e-01],
       [-9.36364702e-02],
       [-3.39259819e-01],
       [-4.89251126e-01],
       [-4.90173220e-01],
       [-3.42195219e-01],
       [-3.84474648e-01],
       [ 6.62444543e-01],
       [-1.11671667e-01],
       [-5.15424106e-01],
       [-4.87572029e-01],
       [ 7.88946608e-01],
       [-4.88075355e-01],
       [ 8.68808422e-01],
       [-5.00743078e-01],
       [-3.84474648e-01],
       [ 1.49645661e+00],
       [-8.80998783e-02],
       [-4.22126048e-02],
       [ 2.06169231e+00],
       [-4.87404924e-01],
       [-1.74084157e-01],
       [ 3.97946450e-01],
       [-2.23410157e-01],
       [ 8.12004865e-03],
       [-1.22744850e-01],
       [-3.55197150e-01],
       [-8.75119929e-02],
       [-4.86649935e-01],
       [ 2.10757958e+00],
       [-4.58463649e-01],
       [-4.54940363e-01],
       [-4.94199833e-01],
       [-4.90173220e-01],
       [-4.84133302e-01],
       [-3.84474648e-01],
       [-4.89669894e-01],
       [-2.95889178e-01],
       [-4.88075355e-01],
       [-1.83144034e-01],
       [-4.00917319e-01],
       [-3.89759577e-01],
       [-4.87237820e-01],
       [-6.46204446e-01],
       [-4.94199833e-01],
       [-4.84133302e-01],
       [-4.71801802e-01],
       [ 8.68641318e-01],
       [-4.90173220e-01],
       [ 2.10757958e+00],
       [-3.34141995e-01],
       [-5.00743078e-01],
       [-1.22744850e-01],
       [-4.34807302e-01],
       [-1.22744850e-01],
       [-2.23410157e-01],
       [-4.34807302e-01],
       [-4.71801802e-01],
       [-3.68871526e-01],
       [-4.90173220e-01],
       [-3.39259819e-01],
       [-2.39264943e-01],
       [-5.00239751e-01],
       [-5.00239751e-01],
       [ 1.01007607e+00],
       [-5.00658519e-01],
       [-4.84133302e-01],
       [ 1.51064784e-01],
       [-5.06279670e-01],
       [-5.00658519e-01],
       [ 1.00185373e+00],
       [-4.54940363e-01],
       [-4.87237820e-01],
       [ 1.90912139e-01],
       [-2.09735782e-01],
       [ 2.69849847e-01],
       [-4.88075355e-01],
       [-4.89669894e-01],
       [-3.43286431e-01],
       [-2.23410157e-01],
       [-4.71801802e-01],
       [-4.90173220e-01],
       [-1.11671667e-01],
       [ 2.40496101e+00],
       [-4.57960322e-01],
       [ 1.23623679e+00],
       [-3.62161176e-01],
       [-4.71801802e-01],
       [-5.00743078e-01],
       [-4.93696506e-01],
       [-4.90173220e-01],
       [ 2.08450911e+00],
       [-4.90509443e-01],
       [ 2.30370781e+00],
       [-4.34807302e-01],
       [-4.88075355e-01],
       [-1.20130127e-02],
       [-4.89669894e-01],
       [-5.00658519e-01],
       [-3.84474648e-01],
       [-1.11671667e-01],
       [ 3.60866641e+00],
       [-5.04266363e-01],
       [ 1.38984948e-01],
       [ 9.48334015e-01],
       [-1.22744850e-01],
       [-3.84474648e-01],
       [ 9.36855595e-02],
       [-4.82525232e-02],
       [-5.00743078e-01],
       [-3.29275834e-01],
       [-4.87237820e-01],
       [-1.22744850e-01],
       [-3.84474648e-01],
       [-5.00658519e-01],
       [-1.20130127e-02],
       [-5.00658519e-01],
       [-4.34807302e-01],
       [-4.93611947e-01],
       [ 7.54049973e-01],
       [ 9.66855078e+00],
       [-3.54275056e-01],
       [-4.92186527e-01],
       [-3.84474648e-01],
       [-5.00658519e-01],
       [-3.74408117e-01],
       [-2.23410157e-01],
       [ 6.29392097e-01],
       [-4.34807302e-01],
       [ 8.33575565e-01],
       [ 6.62444543e-01],
       [-2.31966708e-01],
       [-1.22744850e-01],
       [ 3.90229447e-01],
       [-4.87572029e-01],
       [-4.90173220e-01],
       [-3.33135342e-01],
       [ 7.54049973e-01],
       [ 9.88033837e-02],
       [-2.23410157e-01],
       [-4.71801802e-01],
       [ 4.70006703e-01],
       [ 7.54049973e-01],
       [-3.55114605e-01],
       [ 1.52826427e-01],
       [ 5.49699400e-01],
       [-3.67194442e-01],
       [-4.14674240e-01],
       [ 2.06169231e+00],
       [-6.46204446e-01],
       [-3.84474648e-01],
       [ 1.00185373e+00],
       [ 4.63620753e+00],
       [-4.71801802e-01],
       [-4.14674240e-01],
       [ 3.60448623e-01],
       [-1.42779821e-02],
       [-4.90173220e-01],
       [-4.87572029e-01],
       [-3.54275056e-01],
       [-3.22062158e-01],
       [-3.86991281e-01],
       [ 6.62444543e-01],
       [-4.89669894e-01],
       [-3.84474648e-01],
       [-4.90173220e-01],
       [-2.21900178e-01],
       [ 1.23623679e+00],
       [ 1.47038172e-01],
       [-2.38509953e-01],
       [-4.34807302e-01],
       [-2.02773769e-01],
       [ 5.61779236e-01],
       [-5.00239751e-01],
       [ 9.48334015e-01],
       [-4.89669894e-01],
       [-4.90509443e-01],
       [ 2.67306694e+00],
       [-2.23410157e-01],
       [ 5.49699400e-01],
       [ 3.02062745e-01],
       [-8.80998783e-02],
       [-3.67109883e-01],
       [-4.34807302e-01],
       [ 3.61193803e+00],
       [-4.90761106e-01],
       [-3.68871526e-01],
       [-4.90173220e-01],
       [ 1.16577108e+00],
       [-4.89669894e-01],
       [-4.84133302e-01],
       [ 1.54628594e+00],
       [-5.00239751e-01],
       [-4.84133302e-01],
       [-1.96063420e-01]])

#Check accuracy of the dataset

making x and y

In [ ]:
x=df.iloc[:,1:]
y=df.Survived

Train test split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

scoring

In [ ]:
model=LogisticRegression().fit(x_train,y_train)

In [ ]:
model.score(x_test,y_test)

0.8116591928251121

In [ ]:
res=model.predict(test)

In [ ]:
result=pd.DataFrame(res)

In [ ]:
result

     0
0    0
1    1
2    0
3    0
4    1
..  ..
413  0
414  1
415  0
416  0
417  0

[418 rows x 1 columns]

In [ ]:
result.shape

(418, 1)

In [ ]:
passengerId.shape

(418,)

In [ ]:
result['PassengerId']=passengerId

In [ ]:
result

     0  PassengerId
0    0          892
1    1          893
2    0          894
3    0          895
4    1          896
..  ..          ...
413  0         1305
414  1         1306
415  0         1307
416  0         1308
417  0         1309

[418 rows x 2 columns]

In [ ]:
result.to_csv("answer.csv")