In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

Import data

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/datasets/winequality-white.csv",delimiter=';')
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.0              0.27         0.36  ...       0.45      8.8        6
1               6.3              0.30         0.34  ...       0.49      9.5        6
2               8.1              0.28         0.40  ...       0.44     10.1        6
3               7.2              0.23         0.32  ...       0.40      9.9        6
4               7.2              0.23         0.32  ...       0.40      9.9        6
...             ...               ...          ...  ...        ...      ...      ...
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4894            6.6              0.32         0.36  ...       0.46      9.6        5
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[4898 rows x 12 columns]

Check for Na - no Nans found

Visualize the data and stats

Make numpy arrays

In [ ]:
df=df.drop(labels=['chlorides'],axis=1)

In [ ]:
df=df.drop(labels=['sulphates'],axis=1)

Check by dropping columns- dropping chlorides and sulphates made a lot of improvement

In [ ]:
x=df.iloc[:,0:-1].to_numpy()
y=df.iloc[:,-1].to_numpy()
y=y.reshape(-1,1)
y

array([[6],
       [6],
       [6],
       ...,
       [6],
       [7],
       [6]])

scale features

In [ ]:
#x=preprocessing.scale(x)
#y=preprocessing.scale(y)

Make train test data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

make model

In [ ]:
model=LinearRegression().fit(x_train,y_train)

In [ ]:
score=model.score(x_test,y_test)

In [ ]:
score

0.2987392701493242