In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv("/content/drive/MyDrive/datasets/StudentsPerformance.csv")
df

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

In [4]:
cat_cols=["gender","race/ethnicity","parental level of education","lunch","test preparation course"]
num_cols=["math score","reading score","writing score"]

In [5]:
#check no of null col
df.isnull().sum(axis=0)

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
#no of distinct values in a col
df.nunique(axis=0)

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [7]:
encoder_list=[]
for i in cat_cols:
  encoder=LabelEncoder()
  df[i]=encoder.fit_transform(df[i])
  encoder_list.append(encoder)
df
encoder_list

[LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder()]

In [8]:
le_name_mapping = dict(zip(encoder_list[0].classes_, encoder_list[0].transform(encoder_list[0].classes_)))
print(le_name_mapping)

{'female': 0, 'male': 1}

In [9]:
df_copy=df.copy()

In [10]:
#split the database into 2 database for training and testing
x=df.copy()
del x["writing score"]
y=np.array(df_copy["writing score"])
x_train,x_test,y_train,y_test=train_test_split(x,y)
line=LinearRegression().fit(x_train,y_train)
line.score(x_test,y_test)

0.9383513658268248